body{
	background-color: grey;
}

.grid{
	width: 600px;
	height:500px;
	margin: 0 auto;
	background-color: lightgreen;
	padding: 10px 50px 50px;
	border-radius: 50px;
	border:2px solid green;
	box-shadow: 10px 15px 5px green;
}

.grid h1{
	font-family: open-sans;
	background-color: green;
	font-size: 60px;
	text-align: center;
	color: black;
	padding: 2px 0px;
	border:2px solid black;
	border-radius: 20px;
}

.grid #question{
	font-family: open-sans;
	font-size: 38px;
	color: black;
}

.buttons{
	margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3 {
	background-color: green;
	width: 250px;
	font-size: 20px;
	color:black;
	border: 2px solid black;
	border-radius: 20px;
	margin: 10px 40px 10px 0px;
	padding: 10px 10px;
}

#progress{
	color: black;
	font-size: 16px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
	cursor: pointer;
	background-color: lightgreen;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
	outline: 0;
}